* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--soft-blue-white);
}

:root {
    --blue-primary: #025FF4;
    --soft-blue-white: #F5F6FA;
    --white: #FFFFFF;
    --dark-blue: #000610;
    --black: #000000;
    --soft-blue: #dee9ff;
    --grey: rgb(175, 175, 175);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: var(--black);
    padding: 20px 30px;
    position: fixed;
    z-index: 999;
}

.header .logo img {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.header .navbar {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.navbar {
    list-style: none;
    display: flex;
    gap: 20px;
    color: white;
}

.navbar a{
    text-decoration: none;
    color: var(--white);
    font-size: 16px;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: var(--blue-primary);
}

.header button {
    padding: 10px 40px;
    background-color: var(--blue-primary);
    color: var(--white);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
}

.header button:hover {
    background-color: var(--white);
    color: var(--blue-primary);
}


/* ------------ALL SECTION DO-------------- */
h5 {
    font-size: 18px;
    color: var(--blue-primary);
    font-weight: 400;
    text-transform: uppercase;
}
h3 {
    font-size: 30px;
    color: var(--dark-blue);
    font-weight: 600;
}

.about h1, .values h1, .team-desc h1 {
    font-size: 35px;
    font-weight: 500;
}

/* -------------BANNEEEERRRRRRRRRRRRRRRRRRRRRR------------------- */
.banner {
    display: grid;
    background-image: url('../img/banner-2.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 60px;

}

.banner .sect-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0px;
    padding: 20px 60px;
}

.sect-one h1 {
    font-size: 48px;
    color: var(--white);
    font-weight: 500;
}

.sect-one p {
    font-size: 18px;
    color: var(--white);
    font-weight: 400;
    max-width: 500px;
    margin: 15px 0;
}

.button-section .btn {
    padding: 10px 40px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--white);
}

.button-section {
    display: flex;
    gap: 20px;
}
.btn:hover {
    gap: 20px;
}


/* -----------------footer-------------------- */
.footer {
    display: flex ;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 330px;
    width:100%;
    gap: 20px;
    background-color: var(--dark-blue);
}

.footer hr {
    width: 100%;
}

.footer p {
    font-size: 14px;
    font-weight: 200;
}

.content-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 20px;
    padding: 20px;
}

.frame-one {
    display: flex;
    flex-direction: column;
    width: 20%;
    gap: 10px;
}

.logomeds {
    display: flex;
    gap: 20px;
}

.frame-list .list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.frame-list .list h4 {
    font-size: 18px;
    font-weight: 500;
    color: #6ba4ff;
}

.list .list-menu{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.list-menu a {
    text-decoration: none;
    color: white;
    font-size: 13px;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.list-menu a:hover {
    color: var(--blue-primary);

}

.frame-list {
    display: flex;
    gap: 50px;
}

.new {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10px;
    width: 100%;
    padding: 0 50px;
}

.twot {
    display: flex;
    gap: 10px;
}

/* ---------------------------about------------------------------ */
.about {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 80px;
    gap: 40px;
    overflow: hidden;
    transform: scale(1.3);
}

.about .desc {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 10px;
}

.about .desc button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
    width: 180px;
    border: none;
    background-color: var(--blue-primary);
    color: var(--white);
    border-radius: 20px;
    margin: 10px 0;
    gap: 10px;
}

.card-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 20px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: white;
    padding: 30px;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    gap: 10px;
}

.card h4 {
    font-weight: 600;
}

.card i, .card-2 i{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 25px;
    background-color: var(--soft-blue);
    border-radius: 200px;
    color: var(--blue-primary);
}

/* -------------------------values-------------------------- */
.values {
    height: 60vh;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    transform: scale(1.1);
}

.card-2 {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: flex-start;
    align-items: flex-start;
    width: 300px;
    min-height: 220px;
    border-radius: 20px;
    padding: 30px;
    gap: 10px;
}

.logo-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo-title p {
    font-weight: 500;
}

/* -------------------------our-team------------------------- */

.container-team {
    width: 100%;
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-t {
    display: flex;
    flex-direction: column;
}

.our-team {
    background-color: var(--dark-blue);
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 50px;
    gap: 20px;
}

.team-desc {
    color: white;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    flex-wrap: wrap;
}

.team-desc button {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 20px;
    color: white;
    border: 1px solid white;
    background: none;
    transition: all 0.3s ease-in;
}

.team-desc button:hover {
    background-color: white;
    color: black;
    gap: 15px;
    cursor: pointer;
}

.img-team {
    width: 600px;
    height: auto;
    object-fit: cover;
}

.container-t .card-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    background-color: var(--dark-blue);
    width: 100%;
    padding: 20px 40px;
    border-radius: 20px;
}

.card3-desc {
    color: white;
}
.card3-desc h2 {
    color: white;
    font-weight: 500 ;
}

.card-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
}

.card-3 i {
    color: var(--blue-primary);
    font-size: 50px;
    padding-right: 20px;
}

.qa {
    width: 100%;
    height: fit-content;
    background-color: var(--blue-primary);
    color: white;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}
.qa h4 {
    font-size: 25px;
    font-weight: 500;
}
.qa button {
    padding: 10px 40px;
    background-color: white;
    border: none;
    color: var(--blue-primary);
    border-radius: 30px;
    font-size: 20px;
}